[Unit]
Description=babel daemon
Documentation=man:babeld(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/babeld.conf

[Service]
Type=forking
PIDFile=/run/frr/babeld.pid
ExecStart=/usr/sbin/babeld -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
