[Unit]
Description=eigrp daemon
Documentation=man:eigrpd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/eigrpd.conf

[Service]
Type=forking
PIDFile=/run/frr/eigrpd.pid
ExecStart=/usr/sbin/eigrpd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
