[Unit]
Description=fabric daemon
Documentation=man:fabricd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/fabricd.conf

[Service]
Type=forking
PIDFile=/run/frr/fabricd.pid
ExecStart=/usr/sbin/fabricd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
