[Unit]
Description=LDP daemon
Documentation=man:ldpd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/ldpd.conf

[Service]
Type=forking
PIDFile=/run/frr/ldpd.pid
ExecStart=/usr/sbin/ldpd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
