[Unit]
Description=OSPF routing daemon
Documentation=man:ospfd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/ospfd.conf

[Service]
Type=forking
PIDFile=/run/frr/ospfd.pid
ExecStart=/usr/sbin/ospfd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
