[Unit]
Description=pbr daemon
Documentation=man:pbrd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/pbrd.conf

[Service]
Type=forking
PIDFile=/run/frr/pbrd.pid
ExecStart=/usr/sbin/pbrd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target
