[Unit]
Description=RIP routing daemon
Documentation=man:ripd(8) man:zebra(8)
BindsTo=zebra.service
After=network.target zebra.service
ConditionPathExists=/etc/frr/ripd.conf

[Service]
Type=forking
PIDFile=/run/frr/ripd.pid
ExecStart=/usr/sbin/ripd -d
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
